# RAP don't download jdk and use the version bundled with bazel
build --host_javabase=@local_jdk//:jdk --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
test --host_javabase=@local_jdk//:jdk --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
run --host_javabase=@local_jdk//:jdk --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8

# Don't create bazel-* symlinks in the WORKSPACE directory.
# These require .gitignore and may scare users.
# Also, it's a workaround for https://github.com/bazelbuild/rules_typescript/issues/12
# which affects the common case of having `tsconfig.json` in the WORKSPACE directory.
#
# Instead, you should run `bazel info bazel-bin` to find out where the outputs went.
build --symlink_prefix=dist/

build --disk_cache=~/tmp/bazel
#build --explain=bazel-explain.log --verbose_failures

test --test_output=errors

# https://github.com/bazelbuild/rules_nodejs/wiki#migrating-to-rules_nodejs-030
common --experimental_allow_incremental_repository_updates
