# Make TypeScript fast, by keeping a few copies of the
# compiler running as daemons, and cache SourceFile AST's to reduce parse time.
build --strategy=TypeScriptCompile=worker

# Don't create bazel-* symlinks in the WORKSPACE directory.
# These require .gitignore and may scare users.
# Also, it's a workaround for https://github.com/bazelbuild/rules_typescript/issues/12
# which affects the common case of having `tsconfig.json` in the WORKSPACE directory.
#
# Instead, you should run `bazel info bazel-bin` to find out where the outputs went.
build --symlink_prefix=dist/

build --disk_cache=~/tmp/bazel
build --experimental_ui
#build --explain=bazel-explain.log --verbose_failures

test --experimental_ui
test --test_output=errors

# https://github.com/bazelbuild/rules_nodejs/wiki#migrating-to-rules_nodejs-030
build --experimental_allow_incremental_repository_updates
query --experimental_allow_incremental_repository_updates